<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.submissionform">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
            android:name="android.hardware.camera.autofocus"
            android:required="false" />
    <uses-feature
            android:name="android.hardware.camera"
            android:required="false" />

    <application
            android:name=".MyApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".ChangePasswordActivity"></activity>
        <activity android:name=".DocumentDetailsActivity" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".NewResourceActivity" />
        <activity android:name=".MyResourcesCenter" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".NewNotesActivity" />
        <activity android:name=".FormListActivity" />
        <activity
                android:name=".ProfileSettings"
                android:theme="@style/AppTheme" />
        <activity android:name=".MyDocumentsActivity" />
        <activity android:name=".NotesActivity" />
        <activity
                android:name=".CRMFormActivity"
                android:exported="true" />
        <activity
                android:name=".DashboardActivity"
                android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
                android:name=".LoginActivity"
                android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>